<h1 class="pb-3">Home</h1>
<% if current_user %>
  <div class="pb-4"> 
    <%= render 'tweets/form', tweet: @tweet %>
  </div>
<% end %>

<% if current_user %>
  <%= render 'friendtweets', tweet: @tweet %>
<% else %>
  <%= render 'alltweets', tweet: @tweet %>
<% end %>